.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  border: 0.5px black solid;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
}

.win-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.winner-text {
  font-size: 3rem;
  font-weight: bold;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.new-game-button {
  justify-self: center;
}
